<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MultiVendorMarketplaceMVC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">MultiVendorMarketplaceMVC</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Orders/Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Vendors/Index">Vendors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Products/Index">Products</a>
                        </li>
                    </ul>
                    <span class="navbar-text">Hello @User.Identity?.Name</span>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">&copy; 2025 - MultiVendorMarketplaceMVC</div>
    </footer>

    <!-- RenderScripts section is optional now -->
    @RenderSection("Scripts", required: false)
</body>
</html>
